<template name="environmentVariables">
	<div class="environment-variables">
		<div class="environment-variables__list">
			{{#each variables}}
			<div class="variable">
				{{#if isEditingVariable}}
					<div class="form-inline variable-edit">
						<div class="form-group">
							<input class="form-control" name="variable-name" value="{{name}}"/>
						</div>
						<div class="form-group">
							<label class="control-label">=</label>
						</div>
						<div class="form-group">
							<input class="form-control" name="variable-value" value="{{value}}"/>
						</div>
						<div class="form-group">
							<button class="do-save-variable btn btn-default btn-sm">Ok</button>
						</div>
						<div class="form-group pull-right">
							<button class="do-delete-variable btn btn-danger btn-sm"><i class="glyphicon glyphicon-remove"></i></button>
						</div>
					</div>
				{{else}}
					<div class="variable-value">{{name}} = {{value}}</div>
				{{/if}}
			</div>
			{{/each}}
		</div>
		<div class="do-add-variable btn btn-default btn-xs"><i class="glyphicon glyphicon-plus"></i> Add variable</div>
	</div>
</template>