<template name="serviceCard">
	<div class="service-card">
		{{#if isEditing}}
		<div class="service-card__edit">
			<div class="service-card__edit__header">
				<div class="form-inline">
					<div class="form-group">
						<div class="btn btn-primary do-save-service">Save</div>
					</div>
					<div class="form-group pull-right">
						<button class="btn btn-danger">Delete</button>
					</div>
				</div>
			</div>
			<div class="form-horizontal" role="form">
				<div class="form-group">
					<label class="col-sm-3 control-label">Name</label>
					<div class="col-sm-4">
						<input class="form-control" name="name" value="{{name}}"/>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">Image</label>
					<div class="col-sm-4">
						<input class="form-control" name="imageName" value="{{imageName}}"/>
					</div>
					<div class="col-sm-4">
						<input class="form-control" name="imageTag" value="{{imageTag}}"/>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">Domain</label>
					<div class="col-sm-4">
						<input class="form-control" name="domain" value="{{domain}}"/>
					</div>
					<div class="col-sm-4">
						.plat-985.services.meg.stuzo.net
					</div>
				</div>
			</div>

			<h4>Variables</h4>

			{{> serviceVariables}}
		</div>
		{{else}}
		<div class="service-card__view do-edit-service">
			<div class="row">
				<div class="col-sm-8">
					<div class="service-card__view__title">{{name}} ({{imageName}}:{{imageTag}})</div>
				</div>
				<div class="col-sm-3">
					{{#if deployJob}}
						{{deployStatus}} <div class="do-stop-deploying-service btn btn-xs btn-default pull-right"><i class="glyphicon glyphicon-remove"></i></div>
					{{else}}
						<div class="do-deploy-service btn btn-xs btn-default pull-right">Deploy</div>
					{{/if}}
				</div>
			</div>
		</div>
		{{/if}}
	</div>
</template>